<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>Experiencias de Vino en Mendoza | Tours de Bodegas y Más</title>
  <style>
    body {
      background-color: black;
      color: white;
      /* Para que el texto sea visible */
    }
  </style>
</head>

<body class="row ">
  <nav class="navbar navbar-expand-lg bg-black navbar-dark montserrat-uniquifier">
    <div class="container-fluid">
      <!-- Botón de menú hamburguesa -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent-bodegas" aria-controls="navbarSupportedContent-bodegas"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Logo centrado en móvil -->
      <a href="/index.html" class="navbar-brand mx-auto d-lg-none">
        <img class="brand-logo" src="/static/img/BASE.png" alt="Logo">
      </a>

      <!-- Logo para desktop -->
      <a href="/index.html" class="d-none d-lg-block ps-3 position-absolute start-0 top-50 translate-middle-y">
        <img class="brand-logo" src="/static/img/BASE.png" alt="Logo">
      </a>

      <!-- Menú centrado -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent-bodegas">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 text-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#seccion-1">Tours</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/bodegas.html">Bodegas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/blogs.html">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/faq.html">FAQ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div class="container-fluid p-0 position-relative" style="overflow: hidden;">
      <!-- Imagen de fondo ocupando todo el espacio del header -->
      <img src="/static/img/blending_background.jpg" alt="Fondo" class="w-100" style="height: 80vh; object-fit: cover;">

      <div class="row position-absolute w-100 h-100" style="top: 0; left: 0;">
        <!-- Columna izquierda: Logo y texto -->
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center p-4">
          <img src="/static/img/blending-exp-logo.png" alt="Logo" class="img-fluid mb-3 w-50 ">
          <p class="text-white text-center text-italic">Creá tu propio vino acompañado <br>de profesionales en un día de
            <br> aprendizaje y fantásticas historias.</p>
        </div>

        <!-- Columna derecha: Imagen ajustada -->
        <div class="col-md-6 d-flex justify-content-center align-items-center h-100">
          <img src="/static/img/exp_pc.png" alt="Imagen PC" class="img-fluid"
            style="max-height: 110%; max-width: 140%; object-fit: contain;">
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row  g-0 align-items-center">
      <div class="col-4 text-center pr-1">
        <img src="/static/img/BASE.png" alt="" class="img-fluid" style="max-width: 60%; height: auto;">
        <p><br><br>Esta aventura coienza con una visita <br>a la bodega, donde nos acompañara el <br>enólogo y la dueña
          de la misma. <br> Se hará un repaso por su historia y la <br> descripción del proceso de elaboración.</p>
      </div>
      <div class="col-4 text-center px-1">
        <p class="fs-2">en alianza con</p>
        <img src="/static/img/línea.png" alt="" class="img-fluid" style="max-width: 0.7%; height: auto;">
      </div>
      <div class="col-4 text-center pl-1">
        <img src="/static/img/RJ.png" alt="" class="img-fluid" style="max-width: 50%; height: auto;">
        <p>El enólogo nos guiara a través de las <br> caracteristicas de los varietales y se <br> procederá a
          seleccionar entre cuatro <br> cortes, de los cuales pueden usar los <br> que deséen para lograr un toque.</p>
      </div>
    </div>
  </div>



  <div class="container text-center">
    <h3>LOS VARIETALES QUE SE UTILIZARÁN</h3>
    <div class="row">
      <div class="col-3">
        <img src="/static/img/premium-malbec.png" alt="" class="img-fluid">
        <p>Premium Malbec</p>
        <p>de Barrica</p>
      </div>
      <div class="col-3">
        <img src="/static/img/petit-verdot.png" alt="" class="img-fluid">
        <p>Petit Verdot</p>
        <p>de Barrica</p>
      </div>
      <div class="col-3">
        <img src="/static/img/merlot.png" alt="" class="img-fluid">
        <p>Merlot</p>
        <p>de Pileta</p>
      </div>
      <div class="col-3">
        <img src="/static/img/cabernet_franc.png" alt="" class="img-fluid">
        <p>Cabernet Franc</p>
        <p>de Pileta</p>
      </div>
    </div>
  </div>


  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="col-12" style="max-width: 80%; width: 100%; padding: 0;">
        <div class="row bg-danger p-4 justify-content-center">
          <div class="col-4 text-center">
            <img src="/static/img/wine-stopper.png" alt="" class="img-fluid" style="max-width: 50%; height: auto;">
            <p>Se usará corcho Diam 5, lo que <br> sumado a la barrica francesa <br>nos asegurará un potenial de <br>
              guardado de al menos diez años.</p>
          </div>
          <div class="col-4 text-center">
            <img src="/static/img/barrel (1).png" alt="" class="img-fluid" style="max-width: 50%; height: auto;">
            <p>El minimo que puede <br>elaborarse de este modo <br>son 300 botellas, esto es,<br> una barrica de 225
              litros.</p>
          </div>
          <div class="col-4 text-center">
            <img src="/static/img/wine (1).png" alt="" class="img-fluid" style="max-width: 50%; height: auto;">
            <p>Utilizaremos botellas "Prestige" <br>y dormirán el tiempo que el <br>enólogo determiine para que esté
              <br>en condiciones de beberse.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <p class="text-center text-italic">
      Definir un blend, se trata del momento de mayor creatividad en el arte de hacer vino, <br>es la alquimia que
      ilumina el trabajo de años en el viñedo y en la bodega. <br>
      Cuando se piensa en el blend se está buscando a aquel vino ideal, soñado;<br> la experiencia gustativa de nuestras
      vidas y que perduran en la memoria. <br>
      Nacerá entonces un individuo único, el vino que reflejará la personalidad del autor <br>del blend, un vino con
      alma, un vino que cuente una historia.
    </p>
  </div>


  <!-- whatsapp -->
  <script src="https://static.elfsight.com/platform/platform.js" async></script>
  <div class="elfsight-app-4ebddb3d-2d41-4b90-b9df-a2dfb21cad2c" data-elfsight-app-lazy></div>
  <footer class=" footer-3 text-white py-4">
    <div class="container">
      <div class="row">
        <!-- Columna 1: Información de contacto -->
        <div class="col-md-4">
          <h5 class="montserrat-uniquifier3">DISCOVERY WINE</h5>
          <ul class="list-unstyled">
            <li>Discovery Wine Mendoza™ Somos una empresa dedicada a la planificación y ejecución de tours privados “a
              medida” por los viñedos y bodegas de Mendoza, Argentina. En el corazón de una de las capitales del vino
              reconocidas a nivel mundial, ofrecemos experiencias personalizadas que se adaptan a tus gustos
              individuales.</li>
          </ul>
        </div>
        <!-- Columna 2: Enlaces útiles -->
        <div class="col-md-4">
          <h5 class="montserrat-uniquifier3">ENCUENTRA TU TOUR</h5>
          <div class="d-flex justify-content-between">
            <ul class="list-unstyled">
              <li><a href="/templates/maipu.html" class="text-reset">Bodegas Maipú</a></li>
              <li><a href="/templates/lujan_de_cuyo.html" class="text-reset">Bodegas Lujan de Cuyo</a></li>
              <li><a href="/templates/valle_de_uco.html" class="text-reset">Bodegas Valle de Uco</a></li>
              <li><a href="/templates/alta_montana.html" class="text-reset">Alta Montaña</a></li>
            </ul>
            <ul class="list-unstyled">
              <li><a href="/templates/4x4_experience.html" class="text-reset">4x4 Experience</a></li>
              <li><a href="/templates/city_tour.html" class="text-reset">City Tour</a></li>
              <li><a href="/templates/cooking_class.html" class="text-reset">Cooking Class</a></li>
              <li><a href="/templates/blending_experience.html" class="text-reset">Blending Experience</a></li>
            </ul>
          </div>
        </div>

        <!-- Columna 3: Redes sociales -->
        <div class="col-md-4">
          <h5 class="montserrat-uniquifier3">INFORMACIÓN Y CONTACTO</h5>
          <div class="d-flex justify-content-center">
            <ul class="list-unstyled">
              <li><a href="#" class="text-reset">Por qué Discovery Wine</a></li>
              <li><a href="#" class="text-reset">Opiniones</a></li>
              <li><a href="#" class="text-reset">Blog</a></li>
              <li><a href="#" class="text-reset">Envíanos un correo</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <a href="https://www.facebook.com/profile.php?id=61560257780554" target="_blank">
        <img src="/static/img/facebook-favicon.png" alt="facebook">
      </a>
      <a href="https://www.tripadvisor.com.ar/Attraction_Review-g312781-d27117797-Reviews-Discovery_Wine_Mendoza-Mendoza_Province_of_Mendoza_Cuyo.html"
        target="_blank">
        <img src="/static/img/tripadvisor-favicon.png" alt="tripadvisor">
      </a>
      <a href="https://www.instagram.com/discoverywinemendoza?igsh=ejFwZW84N3d2NnJ5" target="_blank">
        <img src="/static/img/instagram-favicon.png" alt="instagram">
      </a>
    </div>
  </footer>
  <!-- bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="/js/app.js"></script>
  <!-- Modal -->
  <div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Encabezado del modal -->
        <div class="modal-header">
          <h5 class="modal-title montserrat-uniquifier" id="reservationModalLabel">Tour Valle de Uco</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Cuerpo del modal con el formulario -->
        <div class="modal-body">
          <form id="reservationForm" action="https://formsubmit.co/d303fee054e5cb714e495217bddd9bfc" method="POST">
            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Ingresa tu nombre">
              <label for="lastName" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Ingresa tu apellido">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa tu correo">
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Teléfono</label>
              <input type="text" class="form-control" id="phone" name="phone">
            </div>
            <div class="mb-3">
              <label for="guests" class="form-label">Cantidad de Personas</label>
              <input type="number" class="form-control" id="guests" name="guests" placeholder="Número de personas">
            </div>
            <div class="mb-3">
              <label for="date" class="form-label">Fecha del Tour</label>
              <input type="date" class="form-control" id="date" name="date">
            </div>

            <!-- Lista de tours -->
            <div class="mb-3">
              <label class="form-label">Seleccione sus tours</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Maipú" value="Maipu" id="tourMaipu">
                <label class="form-check-label" for="tourMaipu">Maipú</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Valle de Uco" value="Valle de Uco"
                  id="tourValleUco">
                <label class="form-check-label" for="tourValleUco">Valle de Uco</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Luján de Cuyo" value="Lujan de Cuyo"
                  id="tourLujan">
                <label class="form-check-label" for="tourLujan">Luján de Cuyo</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="City Tour" value="City Tour" id="tourCity">
                <label class="form-check-label" for="tourCity">City Tour</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Alta Montaña" value="Alta Montaña"
                  id="tourAltaMontana">
                <label class="form-check-label" for="tourAltaMontana">Alta Montaña</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="4x4 Experience" value="4x4 Experience"
                  id="tour4x4">
                <label class="form-check-label" for="tour4x4">4x4 Experience</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Cooking Class" value="Cooking Class"
                  id="tourCooking">
                <label class="form-check-label" for="tourCooking">Cooking Class</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Blending Experience" value="Blending Experience"
                  id="tourBlending">
                <label class="form-check-label" for="tourBlending">Blending Experience</label>
              </div>
            </div>

            <!-- Botones -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-warning">Enviar Reserva</button>
            </div>
            <input type="hidden" name="_next" value="http://127.0.0.1:5500/templates/valle_de_uco.html">
            <input type="hidden" name="_captcha" value="false">
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>