<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Experiencias de Vino en Mendoza | Tours de Bodegas y Más</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary montserrat-uniquifier">
    <div class="container-fluid">
      <!-- Botón de menú hamburguesa -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent-bodegas" aria-controls="navbarSupportedContent-bodegas"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Logo centrado en móvil -->
      <a href="/index.html" class="navbar-brand mx-auto d-lg-none">
        <img class="brand-logo" src="/static/img/logo.png" alt="Logo">
      </a>

      <!-- Logo para desktop (mantén el logo a la izquierda) -->
      <a href="/index.html" class="d-none d-lg-block ps-3 position-absolute start-0 top-50 translate-middle-y ps-3">
        <img class="brand-logo" src="/static/img/logo.png" alt="Logo">
      </a>

      <!-- Menú centrado (sin considerar el logo) -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent-bodegas">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 text-center">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#seccion-1">Tours</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/bodegas.html">Bodegas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/templates/blogs.html">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/faq.html">FAQ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
      <div class="row display-flex justify-content-center align-items-center">
        <!-- CARD 1 -->
        <div class="card" style="width: 18rem;">
          <a href="/templates/tips-para-organizar-un-tour-de-bodegas-en-mendoza.html">
            <img src="/static/img/blog1.jpg" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <p class="blog-title">Tips para organizar un tour de bodegas en Mendoza
            </p>
            <p class="card-text">Viajar a Mendoza y recorrer bodegas puede ser el plan soñado para un wine lover</p>
          </div>
        </div>
        <!-- CARD 2 -->
        <div class="card" style="width: 18rem;">
          <a href="/templates/descubriendo-las-joyas-de-mendoza.html">
            <img src="/static/img/blog2.jpg" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <p class="blog-title">Descubriendo las Joyas de Mendoza
            </p>
            <p class="card-text">Descubriendo las Joyas de Mendoza: Maipú, Luján de Cuyo y Valle de Uco   Mendoza,</p>
          </div>
        </div>
        <!-- CARD 3 -->
        <div class="card" style="width: 18rem;">
          <a href="/templates/wine-concierge.html">
            <img src="/static/img/blog3.jpeg" class="card-img-top" alt="...">
          </a>
          
          <div class="card-body">
            <p class="blog-title">Wine Concierge
            </p>
            <p class="card-text">Wine Concierge: El servicio exclusivo de Discovery Wine Mendoza para una experiencia de enoturismo sin</p>
          </div>
        </div>
      </div>
      <div class="row display-flex justify-content-center align-items-center">
        <!-- CARD 4 -->
        <div class="card" style="width: 18rem;">
          <a href="/templates/la-virgen-de-carrodilla.html">
            <img src="/static/img/virgen-carrodilla.jpg" class="card-img-top" alt="...">
          </a>
          
          <div class="card-body">
            <p class="blog-title">La Virgen de Carrodilla</p>
            <p class="card-text">La Virgen de Carrodilla: Protectora y Guía Espiritual de Mendoza   En la provincia de</p>
          </div>
        </div>
        <!-- CARD 5 -->
        <div class="card" style="width: 18rem;">
          <a href="/templates/descubriendo-variedades-de-uva-en-mendoza.html">
            <img src="/static/img/variedades.jpg" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <p class="blog-title">Descubriendo Variedades de Uva en Mendoza    </p>
            <p class="card-text">Una Aventura en Enoturismo   Mendoza, la joya de</p>
          </div>
        </div>
        <!-- CARD 6 -->
        <div class="card" style="width: 18rem;">
          <a href="/templates/san-martin-en-mendoza.html">
            <img src="/static/img/San-Martin-en-Medoza.jpg" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <p class="blog-title">San Martín en Mendoza</p>
            <p class="card-text">El Paso de San Martín en Mendoza: Un Hitórico Legado de Libertad y Sacrificio</p>
          </div>
        </div>
      <div class="row display-flex justify-content-center align-items-center">
        <!-- CARD 7 -->
        <div class="card" style="width: 18rem;">
          <a href="/templates/nacimiento-vino-de-alta-gamma.html">
            <img src="/static/img/Historia-del-vino-en-Mendoza.jpg" class="card-img-top" alt="...">
          </a> 
          <div class="card-body">
            <p class="blog-title">Nacimiento vino de alta gamma</p>
            <p class="card-text">El Surgimiento del Vino de Alta Gama en Mendoza: Tradición, Innovación y Excelencia</p>
          </div>
        </div>
        <!-- CARD 8 -->
        <div class="card" style="width: 18rem;">
          <a href="/templates/magia-de-enoturismo.html">
            <img src="/static/img/vino-alta-gama.jpg" class="card-img-top" alt="...">
          </a> 
          <div class="card-body">
            <p class="blog-title">Magia del enoturismo</p>
            <p class="card-text">Descubre la magia del enoturismo con Discovery Wine Mendoza: Experiencias exclusivas en los viñedos más</p>
          </div>
        </div>
        <!-- CARD 9 -->
        <div class="card" style="width: 18rem;">
          <a href="/templates/la-historia-del-vino-mendocino.html">
            <img src="/static/img/magia-enoturismo-864x1536.jpeg" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <p class="blog-title">La Historia del Vino Mendocino</p>
            <p class="card-text">La Historia del Vino Mendocino: Tradición, Innovación y Pasión   La región vinícola de Mendoza,</p>
          </div>
        </div>
      <div class="row display-flex justify-content-center align-items-center">
        <!-- CARD 10 -->
        <div class="card" style="width: 18rem;">
          <a href="/templates/el-arte-del-maridaje.html">
            <img src="/static/img/maridaje.jpg" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <p class="blog-title">El arte del maridaje</p>
            <p class="card-text">Consejos para combinar vinos mendocinos con la gastronomía local   El</p>
          </div>
        </div>
        <!-- CARD 11 -->
        <div class="card" style="width: 18rem;">
          <a href="/templates/festejos-y-vendimia.html">
            <img src="/static/img/vendimia.jpg" class="card-img-top" alt="...">
          </a>
          
          <div class="card-body">
            <p class="blog-title">Festejos y Vendimia</p>
            <p class="card-text">Celebrando la Cultura del Vino en Mendoza: Un Viaje por los Festejos Pre-Vendimia   Mendoza,</p>
          </div>
        </div>
      </div>
      

      <footer class="text-white py-4">
        <div class="container">
          <div class="row">
            <!-- Columna 1: Información de contacto -->
            <div class="col-md-4">
              <h5 class="montserrat-uniquifier3">DISCOVERY WINE</h5>
              <ul class="list-unstyled">
                <li>Discovery Wine Mendoza™ Somos una empresa dedicada a la planificación y ejecución de tours privados “a medida” por los viñedos y bodegas de Mendoza, Argentina. En el corazón de una de las capitales del vino reconocidas a nivel mundial, ofrecemos experiencias personalizadas que se adaptan a tus gustos individuales.</li>
              </ul>
            </div>
            <!-- Columna 2: Enlaces útiles -->
            <div class="col-md-4">
              <h5 class="montserrat-uniquifier3">ENCUENTRA TU TOUR</h5>
              <div class="d-flex justify-content-between">
                <ul class="list-unstyled">
                  <li><a href="/templates/maipu.html" class="text-reset">Bodegas Maipú</a></li>
              <li><a href="/templates/lujan_de_cuyo.html" class="text-reset">Bodegas Lujan de Cuyo</a></li>
              <li><a href="/templates/valle_de_uco.html" class="text-reset">Bodegas Valle de Uco</a></li>
              <li><a href="/templates/alta_montana.html" class="text-reset">Alta Montaña</a></li>
            </ul>
            <ul class="list-unstyled">
              <li><a href="/templates/4x4_experience.html" class="text-reset">4x4 Experience</a></li>
              <li><a href="/templates/city_tour.html" class="text-reset">City Tour</a></li>
              <li><a href="/templates/cooking_class.html" class="text-reset">Cooking Class</a></li>
              <li><a href="/templates/blending_experience.html" class="text-reset">Blending Experience</a></li>
                </ul>
              </div>
            </div>
            
            <!-- Columna 3: Redes sociales -->
            <div class="col-md-4">
              <h5 class="montserrat-uniquifier3">INFORMACIÓN Y CONTACTO</h5>
              <div class="d-flex justify-content-center">
                <ul class="list-unstyled">
                  <li><a href="#" class="text-reset">Por qué Discovery Wine</a></li>
                  <li><a href="#" class="text-reset">Opiniones</a></li>
                  <li><a href="#" class="text-reset">Blog</a></li>
                  <li><a href="#" class="text-reset">Envíanos un correo</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-3">
          <img src="/static/img/facebook-favicon.png" alt="">
          <img src="/static/img/tripadvisor-favicon.png" alt="">
          <img src="/static/img/instagram-favicon.png" alt="">
        </div>
      </footer>
<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>