<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/PRUEBASBORRAR.CSS">
    <title>Document</title>
</head>
<body>
    

    <header class="container-header">
        <img class="fondo" src="/static/img/02_bg_completo.jpg" alt="">
        <img class="copas" src="/static/img/01_intro.png" alt="">
            <p class="textos-header">Somos una empresa dedicada a la planificación y ejecución de tours privados por las bodegas y viñedos de Mendoza, una de las capitales mundiales del vino. <br>Experimenta las mejores áreas de cultivo, procesamiento y fabricación de los mejores vinos de la región y date el gusto de probar los más exquisitos varietales, acompañados de deliciosas comidas gourmet y regionales. <br>Ya sea para individuos, parejas, creadores de contenido o grupos de amigos, nuestro staff está preparado para ofrecer una experiencia inigualable en la región. Además, contamos con un equipo logístico listo para cumplir las demandas más exigentes.</p>
    </header>

    <h1>STAFF</h1>
    <h3 class="text-center mb-5">Conoce a lequipo detrás de las mejores experiencias turisticas de Mendoza</h3>
    
</body>
</html>